/* .whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; 
    background-color: blue;
  }
  
  .whatsapp-icon svg {
    color: white;
    font-size: 24px;
  } */
  /* .icon2 {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color:yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; 
  }*/
  /* .icon-container {
    position: fixed;
  }
  .call-gif {
    position: fixed;
    margin-top: -98%; 
    left: 84%;
    transform: translateX(-50%);
    background-color: transparent;
    height: 5px;
   width:20px;
    z-index: 1; 
  } */
 

  /* @media screen and (max-width: 768px) {
    .whatsapp-icon {
      position: fixed;
      width: 40px; 
      height: 40px; 
      font-size: 20px;
      right: 10px; 
      top: 70%;
      left: 265px;
      /* transform: translateX(-50%); 
      z-index: 1000; 
    }
  } */
 
  /* @media screen and (max-width: 768px) {
    .call-gif {
      position: fixed;
      width: 40px; 
      height: 40px;
      font-size: 20px; 
      bottom: 10px; 
      right: 10px; 
      z-index: 1000; 
      top:80%;
    }
  } */
  .icon-container{
    display: none;
  }
  
  
  @media screen and (max-width: 768px) {
    .icon-container {
      display: flex; /* Display the icon container on smaller screens */
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: blue; /* Set blue background color in responsive view */
      padding: 10px;
      position: fixed;
      bottom: 0; /* Stick the container to the bottom of the screen */
      left: 0;
      right: 0;
      z-index: 10001; /* Ensure it's above other content */
      margin-bottom: 110px;
      width: 94%;
      
    }
  
    .icon-container .icon {
      position: relative;
      flex-basis: calc(33.33% - 10px);
      height: 90px;
      text-align: center;
      padding: 20px;
    
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
     
    }
  
    .icon-container .icon::after {
      content: '';
      position: absolute;
      width: 2px; /* Adjust the width of the line */
      height: 100%;
      background-color: white; /* Set the color of the line */
      top: 0;
      right: -1px; /* Adjust the position to align the line properly */
    }
  
    .whatsapp-icon {
      display: block; /* Hide WhatsApp icon on smaller screens */
    }
   
  
    .call-icon,
    .inquiry-icon {
      display: block; /* Ensure call and mail icons are displayed on smaller screens */
    }
    
    .call-icon svg,
    .inquiry-icon svg ,
    .whatsapp-icon svg{
      color: white; /* Set icon color to white */
      font-size: 24px;
    }
     .call-icon svg{
      margin-right: 7px;
     }
     .inquiry-icon svg{
     margin-right: 10px;
     margin-bottom: -5px;
    }
    .envelope-icon{
     margin-left: 20px;
     margin-top: -5px;
    }
    .whatsapp-icon svg{
      color:green;
      margin-right: 5px;
    }
  
    .whatsapp-icon{
      margin-right:40px;
    }
  
    
    .whatsapp-icon,
    .call-icon,
    .inquiry-icon {
      color: white; /* Set text color to white */
      font-size: 18px; /* Adjust font size as needed */
      margin-top: 5px; /* Add some top margin */
      display: flex;
      flex-direction: row; /* Arrange icon and text in a column */
      align-items: center;
}
.whatsapp-parent-container{
  position: relative;
}

}

